{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["standard", "prettier", "prettier/standard"],
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["html", "prettier", "standard"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "standard/no-callback-literal": "warn"
  }
}
